<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>-->
    <link href="../statics/base.css" rel="stylesheet" type="text/css">
    <title>register</title>
</head>
<body>
    <form name="login_form">
        <form method="POST">
        {{ form.hidden_tag() }}
            <div class="login_form_top">
            <h1>ユーザー登録画面</h1>
            <p>メールアドレス、ユーザー名、パスワードをご入力の上、「登録」ボタンをクリックしてください。</p>
            </div>
            <div class="login_form_btm">
            <div>
                {{ form.username.label(for="username", class="form-label") }}
                {{ form.username(class="form-control", id="username", placeholder="Username") }}
            </div>
            <div>
                {{ form.email.label(for="email", class="form-label") }}
                {{ form.username(class="form-control", id="email", placeholder="you@example.com") }}
            </div>
                {{ form.password.label(for="password", class="form-label") }}
                {{ form.password(class="form-control", id="password", placeholder="Password") }}
            </div>
            {{ form.submit() }}
        </form>
    </form>
</body>
</html>